body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.btnRemove{
    width: 52px;
    height: 52px;
    background-image: url('imgs/trash-alt-svgrepo-com.svg');
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
}

